.chart-bar {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .chart-bar__inner {
    height: 100%;
    width: 100%;
    border: 1px solid #313131;
    border-radius: 1em;
    background-color: #ffffff;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  
  .chart-bar__fill {
    background:linear-gradient(#ff2ea8,#ff7b00);
    width: 100%;
    transition: all 0.3s ease-out;
  }
  
  .chart-bar__label {
    font-weight: bold;
    color: white;
    font-size: .75rem;
    text-align: center;
  }